body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.cl-h {
    background: rgb(70, 103, 109);
}

@media (min-width: 768px){
  .x-el {
      font-size: 30px;
  }
}

.x-2 {
  margin-bottom: 40px;
  line-height: 1.4;
  font-family: 'Muli', sans-serif;
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  color: rgb(27, 27, 27);
  overflow-wrap: break-word;
  text-transform: none;
  letter-spacing: normal;
  box-sizing: inherit;
}

.x-1 {
  text-transform: unset;
  letter-spacing: unset;
  font-family: unset;
  font-size: unset;
  color: inherit;
  box-sizing: inherit;
  line-height: 1.4;
  text-align: center;
  font-weight: 400;
  overflow-wrap: break-word;
}

.x-3 {
  width: 90px;
  border-style: solid;
  border-bottom-width: 2px;
  border-color: rgb(70, 103, 109);
  font-family: 'Muli', sans-serif;
  margin-top: 16px;
  margin-bottom: 0;
  height: 0;
  box-sizing: content-box;
  line-height: 1.4;
  font-weight: 400;
  box-sizing: inherit;
  text-transform: none;
  overflow-wrap: break-word;
}

@media (min-width: 768px){
  .c2-aa {
      max-width: 83.33333333333334%;
      flex-basis: 83.33333333333334%;
      padding-left: 24px;
      padding-right: 24px;
      padding-bottom: 0;
      padding-top: 0;
      font-size: 16px;
  }
}

.c2-ab {
  flex-grow: 1;
  flex-shrink: 1;
  box-sizing: border-box;
  font-family: Quicksand, sans-serif;
  text-transform: none;
  letter-spacing: normal;
  text-align: left;
  box-sizing: inherit;
  margin-bottom: 50px;
}

@media (min-width: 768px){
  .c2-a1 {
      font-size: 16px;
  }
}

.c2-b1 {
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  justify-content: flex-start;
  display: flex;
  position: relative;
  font-family: Quicksand, sans-serif;
  width: 100%;
  text-transform: none;
  letter-spacing: normal;
  box-sizing: inherit;
}

@media (min-width: 768px) {
  .c2-b2 {
      font-size: 22px;
  }
}

.c2-a2 {
  margin-bottom: 24px;
  max-width: 100%;
  line-height: 1.25;
  font-weight: 400;
  color: rgb(27, 27, 27);
  overflow-wrap: break-word;
  font-family: Quicksand, sans-serif;
  text-transform: none;
  letter-spacing: normal;
  box-sizing: inherit;
  text-align: left;
}

@media (min-width: 768px) {
  .c2-a3 {
      font-size: 16px;
  }
}

.c2-b3 {
  margin-bottom: 24px;
  max-width: 100%;
  line-height: 1.5;
  font-weight: 400;
  color: rgb(94, 94, 94);
  overflow-wrap: break-word;
  font-family: Quicksand, sans-serif;
  width: 100%;
  text-transform: none;
  letter-spacing: normal;
  box-sizing: inherit;
  text-align: left;
}

.c2-b3:after {
  content: "";
  clear: both;
}

@media (min-width: 768px) {
  .c2-a4 {
      font-size: 16px;
  }
}

.c2-b4 {
  margin-bottom: 0 !important;
  max-width: 100%;
  font-family: Quicksand, sans-serif;
  text-transform: none;
  letter-spacing: normal;
  box-sizing: inherit;
  text-align: left;
}

@media (min-width: 768px) {
  .c2-a5 {
      width: auto;
      font-size: 14px;
  }
}

.c2-b5 {
  text-shadow: none;
  border-radius: 4px;
  min-height: 56px;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-right: 32px;
  padding-left: 32px;
  display: inline-flex;
  border-style: none;
  transition: all 0.3s;
  color: rgb(255, 255, 255);
  background-color: rgb(70, 103, 109);
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.143em;
  justify-content: center;
  cursor: pointer;
  overflow-wrap: break-word;
  text-decoration: none;
  align-items: center;
  max-width: 100%;
  position: relative;
  font-family: Quicksand, sans-serif;
}

.c2-b5::after {
  box-sizing: inherit;
}

.c2-b5:hover {
  color: rgb(144, 192, 199);
  text-decoration: none;
}

.bb {
  color: rgb(87, 85, 85);
}

.bb:hover {
  color: rgb(87, 85, 85);
}

.hb {
  color: #fff;
  text-decoration: none;
}

.hb:hover {
  color: rgb(144, 192, 199);
  text-decoration: none;
}

.comments-area {
  background: #fff;
  border-bottom: 1px solid #eee;
  padding: 50px 30px;
  margin-top: 50px;
}

@media (max-width: 414px) {
  .comments-area {
    padding: 50px 8px;
  }
}

.comments-area h4 {
  text-align: center;
  margin-bottom: 50px;
  color: #222222;
  font-size: 18px;
}

.comments-area h5 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0px;
}

.comments-area a {
  color: #222222;
}

.comments-area .comment-list {
  padding-bottom: 48px;
}

.comments-area .comment-list:last-child {
  padding-bottom: 0px;
}

.comments-area .comment-list.left-padding {
  padding-left: 25px;
}

@media (max-width: 413px) {
  .comments-area .comment-list .single-comment h5 {
    font-size: 12px;
  }
  .comments-area .comment-list .single-comment .date {
    font-size: 11px;
  }
  .comments-area .comment-list .single-comment .comment {
    font-size: 10px;
  }
}

.comments-area .thumb {
  margin-right: 20px;
}

.comments-area .date {
  font-size: 13px;
  color: #cccccc;
  margin-bottom: 13px;
}

.comments-area .comment {
  color: #777777;
  margin-bottom: 0px;
}

.comments-area .btn-reply {
  background-color: #fff;
  color: #222222;
  border: 1px solid #eee;
  padding: 2px 18px;
  font-size: 12px;
  display: block;
  font-weight: 600;
  -webkit-transition: all 300ms linear 0s;
  -o-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}

.comments-area .btn-reply:hover {
  background-color: #ff1857;
  color: #fff;
}

.comment-form {
  /* background: rgb(52, 103, 110); */
  background: #fff;
  box-shadow: 5px 5px 20px rgb(197, 195, 195);
  text-align: left;
  padding: 47px 30px 43px;
  margin-top: 50px;
  margin-bottom: 40px;
}

.comment-form h4 {
  text-align: left;
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 22px;
  color: #222222;
}

.comment-form .name {
  padding-left: 0px;
}

@media (max-width: 767px) {
  .comment-form .name {
    padding-right: 0px;
    margin-bottom: 1rem;
  }
}

.comment-form .email {
  padding-right: 0px;
}

@media (max-width: 991px) {
  .comment-form .email {
    padding-left: 0px;
  }
}

.comment-form .form-control {
  padding: 8px 20px;
  background: #f9f9ff;
  border: none;
  border-radius: 0px;
  width: 100%;
  font-size: 14px;
  color: #777777;
  font-family: "Open Sans", sans-serif;
  border: 1px solid transparent;
}

.comment-form .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #eee;
}

.comment-form .form-control.placeholder {
  font-family: "Open Sans", sans-serif;
}

.comment-form .form-control:-moz-placeholder {
  font-family: "Open Sans", sans-serif;
}

.comment-form .form-control::-moz-placeholder {
  font-family: "Open Sans", sans-serif;
}

.comment-form .form-control::-webkit-input-placeholder {
  font-family: "Open Sans", sans-serif;
}

.comment-form textarea.form-control {
  height: 140px;
  resize: none;
}

.comment-form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 13px;
  color: #777;
}

.comment-form ::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 13px;
  color: #777;
}

.comment-form :-ms-input-placeholder {
  /* IE 10+ */
  font-size: 13px;
  color: #777;
}

.comment-form :-moz-placeholder {
  /* Firefox 18- */
  font-size: 13px;
  color: #777;
}

.comment-form .submit_btn {
  float: right;
}